# BACKEND PORT
PORT=

# DEVELOPMENT ENV
NODE_ENV=

# CORS ORIGINS
CORS_ORIGINS=

# MONGO DB ATLAS
MONGODB_URI=
DB_NAME=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
