# BACKEND PORT
PORT=

# DEVELOPMENT ENV
NODE_ENV=

# CORS ORIGINS
CORS_ORIGINS=

# MONGO DB ATLAS
MONGODB_URI=
DB_NAME=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT 
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRY=

# OTP VERIFICATION TOKEN
VERIFICATION_TOKEN_SECRET=
VERIFICATION_TOKEN_EXPIRY=

# STRIPE CREDENTIALS
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# FRONTEND URL
FRONTEND_URL=